@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 69%;
}

todo-btn {
  cursor: pointer;
}
.todo-Container {
  background-image: url('../public/cork.jpeg');
  background-position: center;
  background-size: 75%;
  height: max-content;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 14rem 1.6fr;
  grid-gap: 0 px 0 px;
  gap: 0 px 0 px;
  grid-template-areas:
    "todo-btn-back . todo-btn-new"
    "todo-data todo-data todo-data";
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: end;
}

.main-title {
  font-size: 6rem !important;
}

.todo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: transparent;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

button:active {
  font-size: 3rem;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  border: none;
  border-radius: 1rem;
  height: 3rem;
  width: 24rem;
  padding: 1rem;
}

.add-btn {
  font-size: 5rem !important;
}

.todo-btn {
  display: flex;
  margin: 0;
}
.todo-btn-back,
.todo-btn-new {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.todo-btn-back {
  grid-area: todo-btn-back;
}
.todo-btn-new {
  grid-area: todo-btn-new;
  display: flex;
  justify-self: end;
}
.todo-data {
  grid-area: todo-data;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
.todo-data h1 {
  margin-bottom: 3rem;
}
.todo-list-block {
  display: flex;
  flex-direction: column;
}
.todo-list-block li {
  background: #FEF07F;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid #FEF07F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2rem 2rem;
  height: 30rem;
  width: 30rem !important;
  margin: 0 auto 2rem;
}
.todo-list-block li .title-description {
  text-align: left;
}

.title {
  text-align: center;
  font-size: 2rem;
}

.todo-list-block li .title-description h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.todo-list-block li .todo-btn-container {
  display: flex;
  justify-content: space-between;
}
.todo-list-block li .todo-btn-container button:first-of-type {
  margin-right: 2rem;
}
.todo-list-block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 5rem;
  width: 110rem;
  margin: 0 auto;
}

.pin {
  text-align: center;
font-size: 3rem;
}

.add-container {
  background: #FEF07F;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid #FEF07F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 30rem;
  width: 30rem !important;
  margin: 0 auto 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 24rem;
  font-size: 2rem;
}
.form-container .label {
  margin-bottom: 0.8rem;
}
.form-container .input {
  margin-bottom: 2rem;
}
.update-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-container .update-todo-data {
  display: grid;
  grid-template-areas: "close" "form";
  background-color: #b6fcd5;
  height: 30rem;
  width: 30rem;
  padding: 2rem 4rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}
.update-container .update-todo-data .close {
  grid-area: close;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 2rem;
}

.update-container .update-todo-data .todo-data {
  grid-area: form;
}
